.container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 20px;
    grid-auto-flow: row;
    grid-template-areas:
    ". . . . . . .";
}
.btn-element {
    display: inline-block;
    outline: 0;
    cursor: pointer;
    border: none;
    padding: 0 36px;
    height: 70px;
    line-height: 45px;
    border-radius: 7px;
    background-color: #0070f3;
    color: white;
    font-weight: 400;
    font-size: 16px;
    box-shadow: 0 4px 14px 0 rgb(0 118 255 / 39%);
    transition: background 0.2s ease,color 0.2s ease,box-shadow 0.2s ease;
    :hover{
        background: rgba(0,118,255,0.9);
        box-shadow: 0 6px 20px rgb(0 118 255 / 23%);
    }
}

.btn-element {
    overflow: hidden;
    max-width: 200px;
    width: 100%;
    max-height: 12      0px;
    height: 100%;
}
